* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#Sidebar {
    width: 300px;
    height: 800px;
    border: 15px solid black;
    padding: 50px;
    margin: 50px;
    position: absolute;
    float: left;
    min-width: 300px;
    position: relative;
    box-sizing: border-box;
    clear: left;
}

.imgChar {
    max-width: 50%;
    max-height: auto;
    position: absolute;
}

.textOverflow {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 300px;

}

.agentTypes {
    padding: 100px 400px 100px 400px;
    background-color: #f2f2f2;

}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header,
footer {
    background-color: #222;
    color: #fff;
    padding: 1em;
}

header h1 {
    font-size: 3em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.col-1 {
    width: 8.33%;
    float: left;
}

.col-2 {
    width: 16.66%;
    float: left;
}

.col-3 {
    width: 25%;
    float: left;
}

.col-4 {
    width: 33.33%;
    float: left;
}

.col-5 {
    width: 41.66%;
    float: left;
}

.col-6 {
    width: 50%;
    float: left;
}

.col-7 {
    width: 58.33%;
    float: left;
}

.col-8 {
    width: 66.66%;
    float: left;
}

.col-9 {
    width: 75%;
    float: left;
}

.col-10 {
    width: 83.33%;
    float: left;
}

.col-11 {
    width: 91.66%;
    float: left;
}

.col-12 {
    width: 100%;
    float: left;
}

#about {
    background-color: #f2f2f2;
    padding: 2em;
}

#features {
    padding: 2em;
    background-color: #f2f2f2;
}

#features h3 {
    margin-bottom: 1em;
}

#features p {
    margin-bottom: 2em;
}

#features .col-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#features img {
    max-width: 100%;
    height: auto;
}

footer p {
    text-align: center;
}

@media screen and (max-width: 768px) {

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        width: 100%;
        float: none;
    }
}

header h1 {
    font-size: 2em;
    text-align: center;
}

#about .col-8,
#about .col-4 {
    width: 100%;
    float: none;
    clear: auto;
}